h1 {
    text-align: center;
    color: #1e3a5f;
    margin-top: 20px;
    font-size: 2.5em;
    animation: fadeIn 1s ease-in-out;
}

h3 {
    padding-left: 50px;
    color: #1e3a5f;
    margin-top: 20px;
    animation: fadeIn 1s ease-in-out;
}

.hero__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__title {
    text-align: left;
    color: #212353;
    font-size: 80px;
    font-weight: 700;
    width: 645px;
    margin-left: 200px;
    margin-top: 190px;
}

.hero__paragraph {
    text-align: left;
    color: #4B5D68;
    font-size: 18px;
    font-weight: 500;
    line-height: 28.8px;
    width: 380px;
    height: 120px;
    margin-left: 200px;
    margin-top: 50px;
}

.hero__inner a {
    position: relative;
    background-color: #212353;
    border-radius: 50px;
    border: none;
    width: 170px;
    height: 60px;
    margin-left: 240px;
    padding: 15px 37px;
    color: white;
    font-size: 18px;
    border-radius: 50px;
    top: 50px;
}

.first_photo {
    position: absolute;
    border-radius: 10%;
    width: 40%;
    height: 468px;
    right: 50px;
    top: 280px;
}